@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;

  font-family: "DM Sans", sans-serif;
}

title {
  display: none;
}

a {
  text-decoration: none;
  border: none;
  color: currentColor;
}

/*? MOVIMENTA O AVATAR */
@keyframes scaleDelayed {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
/* ?AVATAR */
.profile img {
  width: 387px;
  margin-right: 150px;
  border-radius: 20%;
  box-shadow: 0 0px 22px #000000;
}

.profile-light {
  display: none;
}

section#sobre .container .banner .intro .profile figure {
  float: right;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* ?CONFIGURAÇÃO DO FONT-SIZE EM DIFERENTES TAMANHOS DE TELAS */
@media (max-width: 480px) {
  :root {
    font-size: 55%;
  }
}

@media (max-width: 860px) {
  :root {
    font-size: 57%;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 59%;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 61%;
  }
}

/* ? ESCONDER AS TELAS */
.hidden {
  display: none !important;
}

/*? TAMANHO DA DISPOSIÇÃO DOS ITENS REFERENTE A TELA */
.container {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

/* ? BARRA DE ROLAGEM */
/* !Tamanho global */
::-webkit-scrollbar {
  width: 1.4rem;
}
::-webkit-scrollbar-track {
  background: #474747;
}
::-webkit-scrollbar-thumb {
  background: #014106;
}

/* ? VÍDEO DE FUNDO */
.bg_video {
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background: url(/assets/vid/fundo3.mp4) no-repeat;
  background-size: cover;
}

/* ? MENU DE NAVEGAÇÃO */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: transparent;
  backdrop-filter: blur(50px);
  color: #029616;
  font-size: 4rem;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0;
  flex-wrap: wrap;
}

/* ?FUNDO DO MENU DE OPÇÕES */
header.open {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(10px);
}

/*? ÍCONE DO MENU */
header .container .menu i {
  font-size: 4rem;
  color: #1aaf04;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}
header .container .menu i:hover {
  background-color: #525151;
  color: #ffffff;
}

ection#sobre .banner .intro .actions {
  display: flex;
  gap: 2.5rem;
}

@media (max-width: 480px) {
  section#sobre .banner .intro .actions {
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* ? MOVIMENTO DO BOTÃO */
@keyframes actions {
  0% {
    opacity: 0.7;
    font-size: 2.5rem;
  }
  30% {
    opacity: 0.8;
    font-size: 2.7rem;
  }
  50% {
    opacity: 1;
    font-size: 2.8rem;
  }
  70% {
    opacity: 0.8;
    font-size: 2.7rem;
  }

  100% {
    opacity: 0.7;
    font-size: 2.5rem;
  }
}
/* ?DIV DO BOTÃO PARA NÃO MOVER OS OUTROS CONTEÚDOS */
.btn {
  width: 350px;
  height: 100px;
}

@media (max-width: 480px) {
  .btn {
    width: 100%;
    height: 100px;
  }
}
/* ? CONFIGURAÇÃO DO BOTÃO E TEMPO DE MOVIMENTO */
section#sobre .banner .intro .actions a {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #f9f9f9;
  padding: 2.2rem 3.7rem;
  background-image: linear-gradient(
    90deg,
    rgba(2, 82, 11, 0.8) 0.2%,
    rgba(109, 114, 130, 0.648) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  transition: 1;
  box-shadow: 0px 1px 20px #737373f1;
  -webkit-animation: actions 1s linear infinite;
  -moz-animation: actions 1s linear infinite;
  -ms-animation: actions 1s linear infinite;
  -o-animation: actions 1s linear infinite;
  animation: actions 1s linear infinite;
}
/* ?ESCONDER O MENU */
@media screen and (max-width: 914px) {
  header .container span {
    display: none;
  }
}

header .container .toggle {
  display: flex;
}
/* ?CHECKBOX DA MUDANÇA DE COR */
header .container .toggle input {
  opacity: 0;
  position: absolute;
}
header .container .toggle input:checked + .label .box {
  transform: translateX(4rem);
}
@media (max-width: 480px) {
  header .container .toggle input:checked + .label .box {
    transform: translateX(2rem);
  }
}

header .container .toggle input:checked + .label {
  background-color: #f9f9f9;
}
header .container .toggle .label {
  display: flex;
  background: #3c3c3d;
  width: 6rem;
  border-radius: 2rem;
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.5s;
}
@media (max-width: 480px) {
  header .container .toggle .label {
    width: 4rem;
  }
}
header .container .toggle .label .box {
  background-color: #000000;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: 0.5s;
}
@media (max-width: 480px) {
  header .container .toggle .label .box {
    height: 1.5rem;
    width: 1.5rem;
  }
}
header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100% !important;
  height: 0.1rem;
  background-image: linear-gradient(90deg, #b9b8b8 3%, #104e02 72.32%);
}

section#sobre {
  padding-bottom: 11.25rem;
}

@media (max-width: 480px) {
  section#sobre {
    padding-bottom: 5rem;
  }
}

section#sobre .container {
  display: flex;
  flex-direction: column;
}

section#sobre .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 2.5rem;
  width: 100%;
}

@media (max-width: 480px) {
  section#sobre .banner {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-top: 5rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  section#sobre .banner .profile {
    text-align: center;
  }
}

section#sobre .banner .profile img {
  cursor: pointer;
  transition: 0.2s;
  max-width: 100%;
  animation: scaleDelayed 1s 1.5s;
}

section#sobre .banner .profile img:hover {
  transform: scale(1.1);
}

@media (max-width: 860px) {
  section#sobre .banner .profile img {
    width: 30rem;
  }
}

@media (max-width: 660px) {
  section#sobre .banner .profile img {
    width: 19rem;
  }
}

@media (max-width: 480px) {
  section#sobre .banner .profile img {
    width: 100%;
    margin-bottom: 11rem;
    text-align: center;
  }
}

section#sobre .banner .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}

section#sobre .banner .intro .title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section#sobre .banner .intro .title span {
  font-family: "Poppins", sans-serif;
  font-size: 9.2rem;
  font-weight: 500;
  color: #f9f9f9;
  line-height: 8.4rem;
  display: block;
  color: #178706;
}

@media (max-width: 860px) {
  section#sobre .banner .intro .title span {
    font-size: clamp(2rem, 5vw, 4rem) !important;
    line-height: 120% !important;
  }
}

@media (max-width: 480px) {
  section#sobre .banner .intro .title span {
    font-size: clamp(3.6rem, 10vw, 4.2rem) !important;
    line-height: 130% !important;
  }
}

section#sobre .banner .intro .title p {
  font-size: 2.9rem;
  font-weight: 500;
  color: #b7b7b7;
}

@media (max-width: 860px) {
  section#sobre .banner .intro .title p {
    font-size: clamp(1.4rem, 2.3vw, 1.8rem) !important;
    line-height: 120% !important;
  }
}

@media (max-width: 480px) {
  section#sobre .banner .intro .title p {
    font-size: clamp(1rem, 8vw, 1.8rem) !important;
    line-height: 150% !important;
  }
}

section#sobre .banner .intro .actions {
  display: flex;
  gap: 2.5rem;
}

@media (max-width: 480px) {
  section#sobre .banner .intro .actions {
    justify-content: center;
    flex-wrap: wrap;
  }
}

section#sobre .banner .intro .actions a:nth-child(2) {
  background-image: none;
  border: 0.1rem solid #069a0d;
}

section#sobre .banner .intro .actions a:hover {
  background-image: linear-gradient(
    90deg,
    rgba(102, 106, 115, 0.648) 0.2%,
    rgba(149, 142, 177, 0.8) 100%
  );
  font-size: 2.4rem;
  transform: scale(0.95);

  animation: none;
  box-shadow: none;
  width: 290px;
}

@media (max-width: 860px) {
  section#sobre .banner .intro .actions a {
    font-size: clamp(1.2rem, 2vw, 1rem) !important;
    padding: 1.2rem 1.5rem !important;
    border-radius: 2rem;
  }
}

@media (max-width: 660px) {
  section#sobre .banner .intro .actions a {
    font-size: clamp(1.1rem, 1.5vw, 1rem) !important;
    padding: 1rem 1rem !important;
  }
}

@media (max-width: 480px) {
  section#sobre .banner .intro .actions a {
    font-size: 1.6rem !important;
    padding: 1.4rem 2.5rem !important;
  }
  .about1 {
    width: 100% !important;
  }
}

section#sobre .about {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  backdrop-filter: blur(200px);
  text-align: center;
  padding: 10px;
  border-radius: 22px;
}

section#sobre .about h2 {
  font-size: 3.9rem;
  color: #686868;
  font-weight: 600;
  width: auto;
  margin-bottom: 10rem;
}

section#sobre .about1 p {
  color: #ffffffc1;
  font-size: 3rem;
  text-align: center;
  width: 90%;
  line-height: 180%;
}

@media (max-width: 1200px) {
  section#sobre .about p {
    width: 100%;
  }
}

@media (max-width: 660px) {
  section#sobre .about p {
    font-size: 1.6rem;
  }

  div.about {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    padding: 30px;
  }

  .container {
    padding: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section#sobre .about1 p {
    color: #ffffffc1;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    line-height: 180%;
  }
}

section#skills {
  text-align: center;
}

section#skills .skills .container {
  display: inline-block;
  height: auto;
  align-items: center;
}

@media screen and (max-width: 680px) {
  section#skills .skills .container {
    display: inline-block;
    height: auto;
    float: none;
    align-items: center;
  }
}

section#skills .skills .container h2 {
  font-size: 4.2rem;
  color: #686868;
  font-weight: 600;
  margin-bottom: 10rem;
  display: inline-block;
}

@media (max-width: 480px) {
  section#skills .skills .container h2 {
    margin-bottom: 5rem;
  }
}

section#skills .skills .container .cards {
  flex-wrap: wrap;
  align-content: space-between;
  gap: 5rem;
  height: auto;
  padding: 10px;
}

@media (max-width: 592px) {
  section#skills .skills .container .cards .box {
    display: inline-block;

    align-content: space-between;
    gap: 1rem;
    width: 30px;

    padding: 10px;
  }

  div.box {
    width: 50px;
  }
}

@media (max-width: 992px) {
  section#skills .skills .container .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

section#skills .skills .container .cards .box {
  position: relative;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    rgba(17, 17, 17, 0.801) 0.2%,
    rgba(80, 79, 79, 0.678) 100%
  );
  backdrop-filter: blur(50px);
  width: 85px;
  aspect-ratio: 1;
  padding: 22px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 22px;
  border: solid 1px rgba(49, 49, 49, 0.849);
  box-shadow: 0px 1px 30px #000000;
  cursor: pointer;
  transition: 0.2s;
}

section#skills .skills .container .cards .box p {
  font-size: 100%;
  font-weight: 500;
  color: #9a9a9afe;
  margin-bottom: 1.5rem;
  text-align: center;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*? ajuste do tamanho das imagem da habilidade*/

section#skills .skills .container .cards .box img {
  text-align: center;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 40%;
}

section#skills .skills .container .cards .box::after {
  content: "";
  display: flex;
  /* position: absolute;  */
  width: 100%;
  height: 0.2rem;
  background-image: linear-gradient(
    90deg,
    rgba(103, 120, 103, 0.8) 0.2%,
    rgba(20, 240, 0, 0.648) 100%
  );
  bottom: -0.1rem;
  left: 0;
}

section#skills .skills .container .cards .box:hover {
  transform: scale(1.5);
  box-shadow: 0 0 22px #3a3a3aaa;
  z-index: 2;
}

section#contacts {
  margin: 2.5rem 0 10rem 0;
}

section#contacts .contacts {
  margin-top: 7.5rem;
}

section#contacts .contacts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#contacts .contacts .container h2 {
  font-size: 3.2rem;
  color: #1aaf04;
  font-weight: 600;
  margin-bottom: 10rem;
}

section#contacts .contacts .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 7.5rem;
  justify-content: center;
}

section#contacts .contacts .icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

section#contacts .contacts .icons .icon:hover {
  transform: scale(1.2);
}

section#contacts .contacts .icons .icon a {
  width: fit-content;
}

section#contacts .contacts .icons .icon a:first-child {
  margin-bottom: 2rem;
}

section#contacts .contacts .icons .icon a:nth-child(2) {
  margin-bottom: 1rem;
}

section#contacts .contacts .icons .icon a:last-child p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #828282;
}

section#contacts .contacts .icons .icon a p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #f9f9f9;
}

section#contacts .contacts .icons .icon .box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  border-radius: 50%;
}

section#contacts .contacts .icons .icon .box img {
  padding: 1.5rem;
}

section#projects .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

section#projects .container h2 {
  font-size: 3.2rem;
  color: #1aaf04;
  font-weight: 600;
  text-align: center;
}

section#projects .container h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: #f9f9f9;
  position: relative;
  display: inline-block;
  margin-block: 10rem 5rem;
}

section#projects .container h3::after {
  content: "";
  display: block;

  width: calc(100vw - 190px);
  height: 0.3rem;
  border-radius: 2rem;
  margin-top: 0.8rem;

  background-image: linear-gradient(
    90deg,
    rgba(92, 91, 91, 0.8) 0.2%,
    rgba(8, 77, 4, 0.648) 100%
  );
}

section#projects .container .cards-projects {
  display: flex;
  gap: 1.75rem;
  flex-wrap: wrap;

  justify-content: space-between;
  width: 100%;
}

/*!Ajustar o tamanho do card - projetos*/
section#projects .container .cards-projects .box {
  transition: 0.7s;
  width: 250px;

  box-shadow: 0px 1px 30px #0000006b;
}
/*! ajuste do tamanho dos projetos quando clicado */
section#projects .container .cards-projects .box:hover {
  transform: scale(1.2);
  position: relative;
  box-shadow: 0px 1px 30px #87878777;
  z-index: 2;
  border-radius: 22px;
  border: solid 1px rgba(78, 78, 78, 0.849);
  box-shadow: 0px 1px 20px #525252c4;
}

@media (max-width: 480px) {
  section#projects .container .cards-projects .box:hover {
    transform: scale(1.05);
  }
}

section#projects .container .cards-projects .box .cover {
  position: relative;
  cursor: pointer;
}

section#projects .container .cards-projects .box .cover::after {
  content: "";
  display: flex;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  bottom: 0.1rem;

  background-image: linear-gradient(
    90deg,
    rgba(92, 91, 91, 0.8) 0.2%,
    rgba(8, 77, 4, 0.648) 100%
  );
}

section#projects .container .cards-projects .box .cover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
  background-color: rgba(11, 11, 11, 0.65);
}

section#projects .container .cards-projects .box .cover .details {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: block;
  flex-direction: column;
  align-items: center;
}

section#projects .container .cards-projects .box .cover .details p {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #f9f9f9;
  margin-bottom: 1rem;
}

section#projects .container .cards-projects .box .cover > img {
  width: 100%;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
  box-shadow: 0px 1px 30px #000000;
}

section#projects .container .cards-projects .box .description {
  background-color: #052c02;
  padding: 1.5rem 2rem 1.2rem 2rem;
  display: none;
  position: absolute;

  width: 84%;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  cursor: pointer;
}

@media (max-width: 860px) {
  section#projects .container .cards-projects .box .description {
    width: 90%;
  }
}

@media (max-width: 480px) {
  section#projects .container .cards-projects .box .description {
    width: 90%;
  }
}

section#projects .container .cards-projects .box .description p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #f9f9f9;
}

section#projects .container .cards-projects .box .description a {
  display: inline-block;
  width: fit-content;
  color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid #029616;
  border-radius: 2rem;
  animation: backgroundScale 1s 0.5s forwards;
}

section#projects .container .cards-projects .box:hover .details,
section#projects .container .cards-projects .box:hover .cover::before {
  display: none;
  visibility: hidden;
  animation: fade 1s;
  border-radius: 12px;
}

section#projects .container .cards-projects .box:hover .description {
  display: flex;
  animation: showDown 0.5s forwards;
  z-index: -50;
}

@media (max-width: 992px) {
  section#projects .container .cards-projects .box {
    width: 40vw;
  }
}

@media (max-width: 480px) {
  section#projects .container .cards-projects .box {
    width: 100%;
  }
}

.js-section {
  opacity: 0;
  transition: 0.8s;
  transform: translateX(-10%) translateY(-10%);
}

.js-section.active {
  transform: translateX(0);
  opacity: 1;
}

.menuOpen {
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.486);
  backdrop-filter: blur(10px);
  top: 8%;
  height: 100vh;
  animation: appearField 1s;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 7.5rem;
  align-items: center;
  animation: fade 1s;
}

.menuOpen h2 {
  color: #0d9203;
  font-weight: 600;
  font-size: 3.8rem;
}

@media (max-width: 660px) {
  .menuOpen h2 {
    font-size: clamp(1.6rem, 6vw, 3rem) !important;
  }
}

.menuOpen nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 3.75rem;
  height: 100%;
}

@media (max-width: 480px) {
  .menuOpen nav {
    gap: 7.5rem;
  }
}

.menuOpen nav a {
  cursor: pointer;
  text-decoration: none;
  color: #f9f9f9;
  font-size: 3.8rem;
  transition: 0.3s;
}

.menuOpen nav a:hover {
  color: #188d03;
  transform: scale(1.4);
}

@media (max-width: 480px) {
  .menuOpen nav a {
    font-size: 3rem;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 2.5rem;
  gap: 2.5rem;
  background-color: #000000;
  border-radius: 1rem;
  animation: fade 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  border-radius: 22px;
  border: solid 1px rgba(27, 27, 27, 0.849);
  box-shadow: 0px 1px 20px #3a393996;
  transform: translate(-50%, -50%);
}

@media (max-width: 860px) {
  .modal {
    width: 85%;
    height: 80%;
    top: 53%;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 85%;
    height: 80%;
    top: 55%;
  }
}

.modal .top {
  display: flex;
  gap: 3.75rem;
}

@media (max-width: 992px) {
  .modal .top {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 860px) {
  .modal .top {
    gap: 0;
  }
}

@media (max-width: 992px) {
  .modal .top .video {
    display: flex;
    justify-content: center;
  }
}

.modal .top .video iframe {
  width: 60rem;
  height: 35rem;
}

@media (max-width: 1200px) {
  .modal .top .video iframe {
    width: 40rem;
  }
}

@media (max-width: 992px) {
  .modal .top .video iframe {
    width: 70rem;
  }
}

@media (max-width: 860px) {
  .modal .top .video iframe {
    width: 53rem;
  }
}

@media (max-width: 660px) {
  .modal .top .video iframe {
    width: 38rem;
    height: 20rem;
    margin-top: 2.5rem;
  }
}

@media (max-width: 480px) {
  .modal .top .video iframe {
    display: none;
  }
}

.modal .top .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal .top .info .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .top .info .title h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  color: #076802;
}

.modal .top .info .title i {
  cursor: pointer;
  font-size: 5rem;
  color: #41d634;
}

.modal .top .info p {
  font-size: 2.5rem;
  font-weight: 500;
  color: #828282;
  line-height: 140%;
  padding: 1rem 0;
}

.modal .top .info span {
  font-size: 1.9rem;
  font-weight: 500;
  color: #04ad07;
}

.modal .links {
  display: flex;
  gap: 0.9rem;
}

@media (max-width: 480px) {
  .modal .links {
    flex-wrap: wrap;
    gap: 1.25rem;
  }
}

.modal .links a {
  display: inline-block;
  width: fit-content;
  color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  background-image: linear-gradient(
    90deg,
    rgba(3, 111, 14, 0.8) 0.2%,
    rgba(12, 135, 5, 0.648) 100%
  );
  border-radius: 0.5rem;
}

.modal .links a:hover {
  background-color: rgba(98, 204, 109, 0.8);
}

@media (max-width: 480px) {
  .modal .links a {
    width: 100%;
    text-align: center;
  }
}

body.transparent::after {
  content: "";
  width: 100%;
  height: 1000%;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(3px);
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  animation: fade 10s;
}

.icon img {
  width: 40px;
}

/* ? SLIDES CURRÍCULO */

section.container .slidebar {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  height: 600px;
  overflow-x: scroll;
  backdrop-filter: blur(50px);
  border-radius: 22px;

}
.slidebar::-webkit-scrollbar {
  height: 8px;
}

@media screen and (max-width: 680px) {
  section.container .slidebar {
    display: block;
    width: 100%;
    flex-direction: column;
    text-align: center;
    visibility: visible;
    overflow-y: scroll;
  }
  section.container h2 {
    font-size: 3.2rem;
    color: #1aaf04;
    font-weight: 600;
    text-align: center;
  }
  section.container h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: #f9f9f9;
    position: relative;
    display: block;
    margin-block: 10rem 5rem;
  }
  .container {
    display: block;
  }

  figure.certificado {
    gap: 10px;
    display: block;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
    text-align: center;
  }

  .certificado img:hover {
    transform: scale(1.2) !important;
  }
  .slidebar::-webkit-scrollbar {
    display: none;
  }
  #cert1:hover {
    margin: 0 !important;
  }
  
}

section.container h2 {
  font-size: 3.2rem;
  color: #1aaf04;
  font-weight: 600;
  text-align: center;
}

section.container h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: #f9f9f9;
  position: relative;
  display: inline-block;
  margin-block: 10rem 5rem;
}

section.container h3::after {
  content: "";
  display: block;
  width: calc(100vw - 190px);
  height: 0.3rem;
  border-radius: 2rem;
  margin-top: 0.8rem;

  background-image: linear-gradient(
    90deg,
    rgba(92, 91, 91, 0.8) 0.2%,
    rgba(8, 77, 4, 0.648) 100%
  );
}
.certificado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.certificado img {
  width: 300px;
  margin-right: 20px;
  transition: 0.2s;
  box-shadow: 0 0 22px #c4c4c467;
}

.certificado img:hover {
  cursor: pointer;

  transform: scale(2.5);
  z-index: 2;
}

#cert1:hover {
  margin-left: 250px;
}
